head,html{
    
    color:white;
    top:10px;
    font-size: 35px;
    padding-top: 3%;
    padding-bottom: 6%;
    padding-left: 40px;
    left:100px;
}
tr, th, td{
    border: 2px solid white;
    left:200px;
}
h1{
    
    font-family: 'Fascinate Inline', cursive;
}
body{
    background-image: url("../css/cinema.jpg");
    position: absolute;
    color: yellow;
    left: 700px;
    top: 10px;
    font-size: 19px;
}

div.movies{
    color: white;
    position:absolute;
    
}